* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Goldman', cursive;
    text-decoration: none;
}

.contenedorHeader {
    width: 90%;
    margin: auto;
    background-color: rgb(32, 49, 284);
    border-radius: 5px;
    padding: 10px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav {
    color: black;
}

.nav:hover {
    color: blue;
    font-size: 18px;
}

.icoFlecha {
    width: 70px;
}

.contenedorTodo {
    width: 90%;
    margin: auto;
    background-color: aqua;
    border-radius: 25px;
    padding: 10px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contenedorListado {
    width: 90%;
    margin: auto;
    background-color: aqua;
    border-radius: 25px;
    padding: 10px;
    margin-top: 50px;
}

.contenedor {
    width: 90%;
    background-color: gray;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divLista {
    width: 30%;
    text-align: center;
}

.matacho {
    width: 70%;
}

.cards {
    width: 200px;
    padding: 15px;
    background-color: cornflowerblue;
    border-radius: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formatoPic {
    width: 150px;
    border-radius: 150px;
}

.formatoImg{
    height: 150px;
    border-radius: 10px;
}

.contenedorTextos {
    width: 95px;
    margin-top: 15px;
}

.txtLabel {
    font-weight: 300;
    margin: 0;
    color: white;
}

.txtTexto {
    font-weight: 500;
    margin: 0;
    color: white;
}